<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FoodMap | Tu localizador de restaurantes</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <!--Beginning the nav bar-->
    <nav class="navbar sticky-top" role="navigation" id="nav-bar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#top">
                    FoodMap
                </a>
            </div>
        </div>
    </nav>
    <!--End of nav bar-->

    <header class="container" id="header-info">
        <div class="card" id="first-card">
            <h1 class="card-title">Bienvenid@ a FoodMap</h1>
            <div class="card-body" id="container-info-1">
                <p class="card-text" id="first-info">El mejor buscador de lugares para comer de acuerdo a tu ubicación</p>
                <p class="card-text">
                    <span class="bold">Nota:</span> FoodMap te muestra todos los restaurantes a 500 metros a la redonda </p>
            </div>
        </div>
    </header>

    <section id="map">
    </section>

    <form>
        <div class="form-group">
            <label for="select-rating">Filtra los restaurantes por rating:</label>
            <select class="form-control" id="select-rating">
                <option>Todos los ratings</option>
                <option>0 - 1 &#9733;</option>
                <option>1 - 2 &#9733;</option>
                <option>2 - 3 &#9733;</option>
                <option>3 - 4 &#9733;</option>
                <option>4 - 5 &#9733;</option>
            </select>
            <button type="button" class="btn btn-primary" id="filter-button">Filtrar</button>
        </div>
    </form>

    <section id="result-panel">
        <h2 id="finded-restaurants">Restaurantes encontrados:</h2>
        <div id="places"></div>
    </section>

    <!-- SCRIPTS SECTION -->
    <!-- Script for google maps services -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjtqEVf0YT0fahcgTOB2w1D0By77p4chM&libraries=places&callback=initMap"
        async defer></script>
    <!-- Script to use sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.10/dist/sweetalert2.all.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="../js/main.js"></script>
</body>

</html>